In [1]:
# Data Manupulation
import numpy as np
import pandas as pd
# Plotting graphs
import matplotlib.pyplot as plt

# CSV File - Read
df = pd.read_csv('nyc-rolling-sales.csv')
print(df.head(5)) 
print(df.ndim)
print(df.shape)

   Unnamed: 0  BOROUGH   NEIGHBORHOOD  \
0           4        1  ALPHABET CITY
1           5        1  ALPHABET CITY
2           6        1  ALPHABET CITY
3           7        1  ALPHABET CITY
4           8        1  ALPHABET CITY

                       BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  BLOCK  \
0  07 RENTALS - WALKUP APARTMENTS                                2A    392
1  07 RENTALS - WALKUP APARTMENTS                                 2    399
2  07 RENTALS - WALKUP APARTMENTS                                 2    399
3  07 RENTALS - WALKUP APARTMENTS                                2B    402
4  07 RENTALS - WALKUP APARTMENTS                                2A    404

   LOT EASE-MENT BUILDING CLASS AT PRESENT                 ADDRESS  ...  \
0    6                                  C2            153 AVENUE B  ...
1   26                                  C7   234 EAST 4TH   STREET  ...
2   39                                  C7   197 EAST 3RD   STREET  ...
3   21                                  C4     154 EAST 7TH STREET  ...
4   55                                  C2  301 EAST 10TH   STREET  ...

  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
0                 5                 0            5              1633
1                28                 3           31              4616
2                16                 1           17              2212
3                10                 0           10              2272
4                 6                 0            6              2369

   GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
0               6440       1900                         2
1              18690       1900                         2
2               7803       1900                         2
3               6794       1913                         2
4               4615       1900                         2

   BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
0                              C2     6625000  2017-07-19 00:00:00
1                              C7         -    2016-12-14 00:00:00
2                              C7         -    2016-12-09 00:00:00
3                              C4     3936272  2016-09-23 00:00:00
4                              C2     8000000  2016-11-17 00:00:00

[5 rows x 22 columns]
2
(84548, 22)

In [6]:
newdf = df.replace(r'-', 0, regex=True)
newdf = newdf.fillna(0)
newdf = newdf.rename({"SALE PRICE":"Sale","RESIDENTIAL UNITS": "Resi", "COMMERCIAL UNITS": "Commer","TOTAL UNITS":"Total","LAND SQUARE FEET":"LS","GROSS SQUARE FEET":"GS"},axis = 'columns')
print(newdf.head())

   Unnamed: 0  BOROUGH   NEIGHBORHOOD BUILDING CLASS CATEGORY  \
0           4        1  ALPHABET CITY                       0
1           5        1  ALPHABET CITY                       0
2           6        1  ALPHABET CITY                       0
3           7        1  ALPHABET CITY                       0
4           8        1  ALPHABET CITY                       0

  TAX CLASS AT PRESENT  BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT  \
0                   2A    392    6                                  C2
1                    2    399   26                                  C7
2                    2    399   39                                  C7
3                   2B    402   21                                  C4
4                   2A    404   55                                  C2

                  ADDRESS  ... Resi  Commer  Total    LS     GS YEAR BUILT  \
0            153 AVENUE B  ...    5       0      5  1633   6440       1900
1   234 EAST 4TH   STREET  ...   28       3     31  4616  18690       1900
2   197 EAST 3RD   STREET  ...   16       1     17  2212   7803       1900
3     154 EAST 7TH STREET  ...   10       0     10  2272   6794       1913
4  301 EAST 10TH   STREET  ...    6       0      6  2369   4615       1900

  TAX CLASS AT TIME OF SALE  BUILDING CLASS AT TIME OF SALE     Sale SALE DATE
0                         2                              C2  6625000         0
1                         2                              C7        0         0
2                         2                              C7        0         0
3                         2                              C4  3936272         0
4                         2                              C2  8000000         0

[5 rows x 22 columns]

In [12]:
df1 = newdf.loc[:,['Resi','Commer','Total','LS','GS','Sale']]
print(df1)

       Resi  Commer  Total      LS     GS      Sale
0         5       0      5    1633   6440   6625000
1        28       3     31    4616  18690         0
2        16       1     17    2212   7803         0
3        10       0     10    2272   6794   3936272
4         6       0      6    2369   4615   8000000
5        20       0     20    2581   9730         0
6         8       0      8    1750   4226   3192840
7        44       2     46    5163  21007         0
8        15       0     15    1534   9198         0
9        24       0     24    4489  18523  16232000
10       30       4     34    4295  21328         0
11       10       0     10    3717  12350  10350000
12        0       0      0       0      0         1
13        0       0      0       0      0    499000
14        0       0      0       0      0        10
15        0       0      0       0      0    529500
16        0       0      0       0      0    423000
17        0       0      0       0      0    501000
18        0       0      0       0      0    450000
19        0       0      0       0      0    510000
20        0       0      0       0      0         0
21        0       0      0       0      0    350000
22       24       0     24    4131  16776  11900000
23        0       0      0       0      0  11900000
24        0       0      0       0      0    350000
25        0       0      0       0      0    404000
26        0       0      0       0      0    535000
27        0       0      0       0      0   1400000
28        0       0      0       0      0    866000
29        0       0      0       0      0    355000
...     ...     ...    ...     ...    ...       ...
84518     2       0      2   11100   3560    875000
84519     2       0      2   21528   2650    875000
84520     2       0      2    5260   2600    840000
84521     2       0      2    8306   2600    772500
84522     2       0      2    5060   2600    740000
84523     2       0      2    3288   1916         0
84524     2       0      2    2986   1820         0
84525     2       0      2    2490   1530         0
84526     2       0      2    2337   1964    590000
84527     2       0      2    2429   1798    580000
84528     2       0      2    3936   1470    550000
84529     2       0      2    6268   2206    545000
84530     2       0      2   10935   2683    800000
84531     2       0      2    4300   2170    642500
84532     2       0      2    4700   2170    408092
84533     2       0      2    3985   2700    600000
84534     2       0      2    3801   2704    610000
84535     2       0      2    7885   2704    645000
84536     2       0      2    3800   2700    168000
84537     2       0      2    4350   2840    625000
84538     2       0      2    3215   1300         0
84539     2       0      2    3016   1300         0
84540     2       0      2    3325   1300    509000
84541     2       0      2   11088   2160    648000
84542     2       0      2    3020   1800         0
84543     2       0      2    2400   2575    450000
84544     2       0      2    2498   2377    550000
84545     2       0      2    4000   1496    460000
84546     0       7      7  208033  64117  11693337
84547     0       1      1   10796   2400     69300

[84548 rows x 6 columns]

In [13]:
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [14]:
results = smf.ols('Total ~ Resi + Commer', data=df1).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Total   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 4.751e+08
Date:                Thu, 27 Jun 2019   Prob (F-statistic):               0.00
Time:                        22:52:13   Log-Likelihood:                 25506.
No. Observations:               84548   AIC:                        -5.101e+04
Df Residuals:                   84545   BIC:                        -5.098e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0309      0.001     49.755      0.000       0.030       0.032
Resi           0.9998   3.68e-05   2.72e+04      0.000       1.000       1.000
Commer         0.9999   7.06e-05   1.42e+04      0.000       1.000       1.000
==============================================================================
Omnibus:                    68793.705   Durbin-Watson:                   0.243
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         49268012.654
Skew:                           2.735   Prob(JB):                         0.00
Kurtosis:                     121.133   Cond. No.                         17.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.